<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    
    <add name="PeopleComplaintConnectionString" connectionString="Data Source=LAPTOP-26QTOCHM;Initial Catalog=PeopleComplaint;Integrated Security=True"
             providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
	  
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
	<system.net>
		<mailSettings>
			<smtp from="mycollegeproject02@gmail.com">
				<network host="smtp.gmail.com"
						 port="587"
						 userName="mycollegeproject02@gmail.com"
						 password="khbn zjfy nwie aigk"
						 enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
  <appSettings>
    
    <add key="LISS" value="Data Source=LAPTOP-26QTOCHM;Initial Catalog=PeopleComplaint;Integrated Security=True"/>
  </appSettings>
</configuration>